* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #0f141c;
}

a {
  color: inherit;
  text-decoration: none;
}
